/* team block */

.team_wrap {
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(11, 11, 11, 0.95649) 10.46%,
    rgba(23, 23, 23, 0.909503) 19.92%,
    rgba(36, 36, 36, 0.859077) 28.49%,
    rgba(50, 50, 50, 0.805252) 36.28%,
    rgba(64, 64, 64, 0.748067) 43.39%,
    rgba(80, 80, 80, 0.68756) 49.92%,
    rgba(96, 96, 96, 0.623772) 55.97%,
    rgba(113, 113, 113, 0.556741) 61.67%,
    rgba(131, 131, 131, 0.486506) 67.09%,
    rgba(150, 150, 150, 0.413105) 72.36%,
    rgba(169, 169, 169, 0.33658) 77.58%,
    rgba(189, 189, 189, 0.256967) 82.85%,
    rgba(211, 211, 211, 0.174307) 88.27%,
    rgba(232, 232, 232, 0.0886382) 93.95%,
    rgba(255, 255, 255, 0) 100%
  );

  background-size: cover;
}

.team_logo {
  padding: 16px 195px 507px 1660px;
}

.team_text {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 550;
  font-size: 64px;
  line-height: 120%;
  /* identical to box height, or 77px */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: rgba(150, 150, 150, 0.413105);
  padding-bottom: 70px;
}

.team_staff_wrap {
  display: flex;
  padding: 26px 195px 96px 73px;
  justify-content: center;
  background-color: #ffffff;
}

.team_img {
  position: relative;
}
.team_name {
  position: absolute;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 110%;
  /* or 79px */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Black */

  color: #000000;
  top: 48px;
  left: 125px;
}
.team_position {
  position: absolute;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* Black */

  color: #000000;
  padding-top: 8px;
}

.team_sosial {
  position: absolute;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  bottom: 8px;
  right: 8px;

  /* Black */

  color: #000000;
}
.team_state,
.team_state2 {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  width: 575px;
  letter-spacing: 0.02em;

  /* Black */

  color: #000000;
  padding-left: 315px;
  padding-top: 24px;
  padding-left: 251px;
  padding-top: 24px;
}

.team_item {
  position: relative;
  padding-left: 380px;
}

@media only screen and (max-width: 1850px) and (min-width: 1441px) {
  .team_staff_wrap {
    display: flex;
    margin-right: 60px;
  }
  .team_sosial {
    bottom: 168px;
  }
  .team_name {
    position: relative;
    top: 0;
    left: 0;
  }
  .team_position {
    padding-bottom: 10px;
  }

  .team_state,
  .team_state2 {
    padding-left: 205px;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .team_staff_wrap {
    display: block;
  }
  .team_state2 {
    padding-bottom: 40px;
  }

  .team_text {
    font-size: 54px;
  }
}
