.textBlock_wrap {
  background-color: #000000;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 900;
  font-size: 110px;
  line-height: 106px;
  text-align: justify;

  color: rgba(255, 255, 255, 0.05);
  padding: 0;
}

.text_block p {
  margin: 0;
  text-align: justify;
}
