@font-face {
  font-family: "AryaW00-Double";
  src: url("../public/fonts/Arya.woff");
}
.wrapper {
  /* max-width: 1920px; */
  margin: 0 auto;
}

.dblfont {
  font-family: "AryaW00-Double";
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #7b4aff;
}

@media only screen and (max-width: 1850px) and (min-width: 1441px) {
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
}
