@font-face {
  font-family: "AryaW00-Double";
  src: url("../public/fonts/Arya.woff");
}
/* .wrapper {
  max-width: 1920px;
  margin: 0 auto;
} */

.dblfont {
  font-family: "AryaW00-Double" !important;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  color: #7b4aff;
}

/* .popUp_flow:hover {
  background-image: linear-gradient(
    264.85deg,
    rgba(0, 0, 0, 1),
    rgba(100, 43, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@media only screen and (max-width: 1850px) and (min-width: 1441px) {
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
}
