/* .wrapper {
  max-width: 1920px;
  margin: 0 auto;
} */

.potential_block {
  /* display: flex;
  justify-content: space-between;
  padding-top: 45px; */
  /* padding-bottom: 900px; */
}

.potential_background {
  background-image: url("../public/Rectangle.png");
  background-repeat: no-repeat;
  padding-right: 195px;
  padding-left: 195px;
  background-position: 0 0;
  background-size: 100%;
  padding-bottom: 900px;
}

.potential_nav {
  display: flex;

  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  justify-content: space-between;
  padding-top: 76px;
}

.potential_nav li {
  padding-right: 51px;
  list-style: none;
}

.potential_nav li p {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.potential_btn {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  margin: 0px 10px;
  padding: 24px 40px 20px 40px;
  background: #ffffff;
}

.potential_text {
  color: #ffffff;
}

.potential_text h3 {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.potential_text h2 {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

/* PotentialText */

.potential_text_wrap {
  display: flex;
  padding-right: 48px;
  padding-left: 48px;
}

.potential_text_paragraph {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.08em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.potential_image {
  animation: spin 15s linear 0s infinite;
}

.picture {
  position: relative;
  width: 154px;
  height: 160px;
}
.potential_vector {
  position: absolute;
  top: 59%;
  left: 67%;
  margin: -50px 0 0 -50px;
  width: 55px;
  height: 73px;
}
